{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}

<!-- Main Image Index-->
<div class="index-img off-canvas-wrapper">
    <div class="container-fluid container-sm">
        <div class="row h-75">
            <div class="col-7 col-md-6 mt-5 site-heading">
                <h1 class="display-4 logo-font text-black">
                    "By failing to prepare, you are preparing to fail."
                </h1>
                <span class="subheading d-flex justify-content-end"><i>Benjamin Franklin</i></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}