{% extends "base.html" %}

{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<!-- Create A Poll-->

<div class="polls-bg h-100">
    <div class="container pt-3">
        <div class="checkout-container pb-3 px-3 rounded">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Create A New Poll</h3>
                        </div>

                        <form method="POST">
                            {% csrf_token %}
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="question">Enter Poll Question</label>
                                            {% render_field form.question rows="3" class="form-control" %}
                                        </div>
                                    </div>
                                </div>
            
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="choice1">choice 1</label>
                                            {% render_field form.choice_one class="form-control" %}
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="choice2">choice 2</label>
                                            {% render_field form.choice_two class="form-control" %}
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="choice3">choice 3</label>
                                            {% render_field form.choice_three class="form-control" %}
                                        </div>
                                    </div>
                                </div>
            
                                <div class="row">
                                    <hr />
                                    <div class="col-lg-4">
                                        <button type="submit" class="btn btn-info">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}