{% extends "base.html" %}
{% block page_header %}
{% endblock %}
{% block content %}

<!-- Polls -->

<div class="polls-bg">
    <div class="container py-3">
        <div class="checkout-container container-sm pb-3 px-3 rounded">
            <div class="row">

                <div class="col">

                    <h2 class="logo-font mb-4 text-black font-weight-bold text-center"><u>Vote</u></h2>
                    <hr class="allauthhr">

                </div>
            </div>
            <br>
            <div class="row px-3">
                <div class="text-center mx-auto">

                    {% for poll in polls %}

                    <h2 class="pt-2">{{ poll.question }}</h2>

                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="poll" value="option1">
                                    {{ poll.option_one }}
                                </label> &nbsp;
                                <label>
                                    <input type="radio" name="poll" value="option2">
                                    {{ poll.option_two }}
                                </label> &nbsp;
                                <label>
                                    <input type="radio" name="poll" value="option3">
                                    {{ poll.option_three }}
                                </label> &nbsp;
                            </div>
                        </div>
                        <hr />
                        <button type="submit" class="btn btn-secondary text-white font-weight-bold">
                            Submit
                        </button>
                    </form>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            
            {% endif %}
            {% if page_obj.has_next %}

            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}