<footer class="container-fluid text-center bg-light-gray mt-auto footer-design pt-3">
    <div class="footer navbar-fixed-bottom mt-1 h-75">
        <div class="row">
            <div class="col-12 col-lg-4 my-auto">
                
                <a href="{% url 'contact_us' %}" class="contactus font-weight-bold text-black">
                    <i class="fa-solid fa-envelope fa-shake" style="color: #535453;"></i>
                    Contact Us</a>
                
            </div>
            <div class="col-12 col-lg-4 my-auto">

                <span class="copyright text-muted">Copyright &copy; Eleanor Bucke PP5 2023</span>
            
            </div>
            
            <!-- Socials -->
            
            <div class="col-12 col-lg-4 my-auto">
                
                <i class="fa-brands fa-facebook pl-2 fa-3x fa-fw" style="color: #535453;"></i>
                <i class="fa-brands fa-instagram pl-2 fa-3x fa-fw" style="color: #535453;"></i>
                <i class="fa-brands fa-github pl-2 fa-3x fa-fw" style="color: #535453;"></i>
            
            </div>
        </div>
    </div>
</footer>