<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="diy-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                DIY
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="camping-link">
                <a href="" class="dropdown-item">DIY</a>
                <a href="" class="dropdown-item">Gardening</a>
                <a href="" class="dropdown-item">Off Grid Living</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="food-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Food
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="meals-link">
                <a href="" class="dropdown-item">Food</a>
                <a href="" class="dropdown-item">Kosher MRE's</a>
                <a href="" class="dropdown-item">Halal MRE's</a>
                <a href="" class="dropdown-item">Other food items</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="protection-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Melee
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="protection-link">
                <a href="" class="dropdown-item">Melee</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="camping-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Camping
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="camping-link">
                <a href="" class="dropdown-item">Camping Equipment</a>
                <a href="" class="dropdown-item">Tents</a>
                <a href="" class="dropdown-item">Sleeping Bag</a>
            </div>
        </li>

    </ul>
</div>