<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">clothing-link</a>
                <a href="" class="dropdown-item">Rainwear</a>
                <a href="" class="dropdown-item">Hiking Boots</a>
                <a href="" class="dropdown-item">All Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="food-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Food
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="meals-link">
                <a href="" class="dropdown-item">Food</a>
                <a href="" class="dropdown-item">Kosher MRE's</a>
                <a href="" class="dropdown-item">Halal MRE's</a>
                <a href="" class="dropdown-item">Other food items</a>
                <a href="" class="dropdown-item">All Food</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="camping-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Camping
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="camping-link">
                <a href="" class="dropdown-item">Camping Equipment</a>
                <a href="" class="dropdown-item">Protection</a>
                <a href="" class="dropdown-item">Tents</a>
                <a href="" class="dropdown-item">Sleeping Bag</a>
                <a href="" class="dropdown-item">Camping Essentials</a>
            </div>
        </li>
    </ul>
</div>