{% extends "base.html" %}

{% load static %}

{% block content %}

<br>
<div class="overlay"></div>
<div class="row h-100 bg-light-gray pb-3">
    <div class="col-lg-4 col-xs-12 pt-3 pl-3">
        <div class="allauth-form-inner-content">
            {% block inner_content %}
            {% endblock %}
        </div>
    </div>
    <div class="col-lg-8 pt-3 pl-3">
        <img src="https://res.cloudinary.com/dwfsh0lgy/image/upload/v1683659830/pp5-dayscoming/city-overgrown-apoc_fwvt4m.jpg" class="img-thumbnail justify-content-start"
            alt="city overgrown apocalyptic">
    </div>
</div>
<br>
{% endblock %}