{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>

<div class="row h-100 bg-light-gray containform">
  <div class="col-lg-4 col-xs-12">
    <!-- Sign Out Form -->
    <h1 class="font-weight-bold signupheader text-center">{% trans "Sign Out" %}</h1>

    <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>

    <form class="text-center allauthform" method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="btn btn-secondary text-white font-weight-bold">{% trans 'Sign Out' %}</button>
    </form>
  </div>
  <div class="col-lg-8 col-xs-12">
    <img src='/media/city-overgrown-apoc.jpg' class="img-thumbnail allauthimg justify-content-start" alt="spice market">
  </div>
</div>

<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>


{% endblock %}