{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>

<div class="row h-100 bg-light-gray containform">
    <div class="col-lg-4 col-xs-12">
      <!-- Registration Form -->
      <h1 class="font-weight-bold signupheader text-center">{% trans "Sign Up" %}</h1>

      <form class="signup text-center allauthform" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-secondary text-white font-weight-bold">{% trans "Sign Up" %}
          &raquo;</button>
      </form>

      <p class="text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign
          in</a>.{% endblocktrans %}
      </p>
    </div>

  <div class="col-lg-8 col-xs-12">
    <img src='/media/city-overgrown-apoc.jpg' class="img-thumbnail allauthimg justify-content-start" alt="spice market">
  </div>
</div>


<br>

{% endblock %}